%h2 個別の怪異談話
%table
  %th タイトル
  %th 投稿内容
  %th 発生場所
  %th 危険度
%table
  -@post.each do |post|
    %tr
      -# ここの辺りに投稿者名を入れる（userテーブルを造ってから）
      %th= post.title
      %th= post.body
      %th= post.area
      %th= post.level
       